@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #232a34;
  border-radius: 25px;
  border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover {
  background: #2ca46d;
}
.myButton {
  background: #2ca46d;
  color: #ffffff;
  padding: 10px 30px;
  font-weight: 400;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  border-radius: 30px;
}

.type,
#footer,
#about-more,
#allProjects,
#modal {
  font-family: "Quicksand", sans-serif;
}
#aboutme,
#topBar {
  font-family: "Quicksand", sans-serif;
}
.my-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
.myBgColor {
  background-color: #232a34;
}
.cardbgColor {
  background-color: #2d343e !important;
}
.cardButton {
  background: #2ca46d;
  color: #fff;
  text-decoration: none;
  padding: 4px 14px;
  font-family: "Quicksand", sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: none;
}
.myButton:hover,
.cardButton:hover {
  color: #fff;
  background-color: #01d85f;
}
#social a .facebook:hover {
  color:#1877f2;
}
#social a .instagram:hover {
  color:  #c32aa3;
}
#social a .twitter:hover {
  color: #1da1f2;
}
#social a .linkedin:hover {
  color: #0a66c2;
}
#social a .github:hover {
  color: #014c6f;
}
.styles_scroll-to-top__2A70v {
  background-color: transparent !important;
  box-shadow: none !important;
  border: 1px solid #2d343e !important;
  border-radius: 50% !important;
}
.styles_scroll-to-top__2A70v:hover {
  background-color: #2d343e !important ;
}
.myButtonNew {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #218859;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.myButtonNew span {
  position: relative;
  z-index: 1;
}

.myButtonNew:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 900%;
  width: 140%;
  cursor: pointer;
  background: #01d85f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.myButtonNew:hover:after {
  cursor: pointer;
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.active {
  background-color: #2d343e;
}

/* image scroll effet for project */
.window{
  width: 100%;
  margin: auto;
}
.window img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 270px;
    transition: 8s all ease;
    border-radius: 2px;
}
.window img:hover {
  object-position: bottom;
  cursor: n-resize;
}