@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.myButton {
  background: #2ca46d;
  color: #ffffff;
  padding: 10px 30px;
  font-weight: 400;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  border-radius: 30px;
}

.type,
#footer,
#about-more,
#allProjects,
#modal {
  font-family: "Quicksand", sans-serif;
}
#aboutme,
#topBar {
  font-family: "Quicksand", sans-serif;
}
.my-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
.myBgColor {
  background-color: #232a34;
}
.cardbgColor {
  background-color: #2d343e !important;
}
.cardButton {
  background: #2ca46d;
  color: #fff;
  text-decoration: none;
  padding: 4px 14px;
  font-family: "Quicksand", sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  border: none;
}
.myButton:hover,
.cardButton:hover {
  color: #fff;
  background-color: #01d85f;
}
#social a i:hover {
  color: #01d85f;
}
.styles_scroll-to-top__2A70v {
  background-color: transparent !important;
  box-shadow: none !important;
  border: 1px solid #2d343e !important;
  border-radius: 50% !important;
}
.styles_scroll-to-top__2A70v:hover {
  background-color: #2d343e !important ;
}
.myButtonNew{
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #218859;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}
.myButtonNew span {
  position: relative; 
  z-index: 1;
}

.myButtonNew:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 900%;
  width: 140%;
  cursor: pointer;
  background: #01d85f;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.myButtonNew:hover:after {
  cursor: pointer;
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.active{
  background-color: #2d343e;
}