.coverContainer{
position: relative;
background: url('../../images/demo2.jpg');
height: 100vh;
width: 100%;
background-size: cover;
background-position: center;
z-index: -1;
}
.coverTitle{
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%,30%);
}
.active{
    background-color: rgba(10, 12, 24, 0.9);
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
}
.hoverMe:hover{
    color: #ccc !important;
}
.skillimage{
    width: 100%;
}
#skill .card{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.projectShadow{
    box-shadow: 0px 2px 4px 0px #000;
}
